# project infrastructure
.quarto/
/.quarto/
.Rproj.user
.Rhistory
*.Rproj
desktop.ini

# folders
*_files/**   # ignore everything inside all folders that end with _files
old/  # ignore this anywhere
_webpage/

# file types
*.csv
*.docx
*.gdoc
*.html
*.pdf
*.rds
*.vdoc*
*.xls*

# individual files
plans/frs/work/reason/Florida FRS model input_djb.R
